

@font-face {
    font-family: 'celiasregular';
    src: url('../fonts/celias-webfont.woff2') format('woff2'),
         url('../fonts/celias-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'celiasbold';
    src: url('../fonts/celias-bold-webfont.woff2') format('woff2'),
         url('../fonts/celias-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'celiasmedium';
    src: url('../fonts/celias-medium-webfont.woff2') format('woff2'),
         url('../fonts/celias-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




body, html { font-family: 'celiasregular',sans-serif; float:left;width:100%;background:#fff;color:#1D1D1D;}
a{text-decoration:none !important;color: #3A7EFF}
.full {width:100%;float:left;}
ul{margin:0;padding:0;}
li{list-style:none;}
img{max-width:100% !important;}
p{font-size:14px;line-height:26px;color:#43505B;font-weight: 500;}
h1 { font-size:45px }
h1, h2 { font-family: 'celiasbold'; }
h2{font-size:34px;color:#232323;font-weight:800;line-height:50px;}
.ptb-50{padding:50px 0;}
.pt-10{padding-top:10px;}
.pb-50{padding-bottom:50px;}

.error {
    color: red;
    font-size: 12px;
} 

.pro-img {
    width: 50px;
} 
.typeuser{
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

:root {
  --d-flex:flex;
  --justify-content:center;
  --align-item:center;
  --marign-auto:0 auto;
  --border-radius-20:20px;
  --f-size-22:22px;
  --f-size-20:20px;
  --light-bg:#F5F9FF;
  --padding-50:50px 0;
  --padding-30:30px 0;
  --padding-70:70px 0;
  --light-p-color:#707A84;
}



/*header-css*/

.start-header {
	opacity: 1;
	transform: translateY(0);
	padding: 2px 0 2px;
	/*box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);*/
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;border-bottom: 1px solid #EBF0F5;
}
.start-header.scroll-on {
	box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
	padding: 10px 0;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;background:#fff;
}
.start-header.scroll-on .navbar-brand img{
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navigation-wrap{
	position: unset;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;background: #0e2b30;
}
.navbar{
	padding: 0;
}
.navbar-brand img{
	height: 55px;
	width: auto;filter: brightness(0) invert(1);
	display: block;max-width: 150px !important;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navbar-collapse { justify-content:center; }
.navbar-toggler {
	float: right;
	border: none;
	padding-right: 0;
}
.navbar-toggler:active,
.navbar-toggler:focus {
	outline: none;
}
.navbar-light .navbar-toggler-icon {
	width: 24px;
	height: 17px;
	background-image: none;
	position: relative;
	border-bottom: 1px solid #000;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after, 
.navbar-light .navbar-toggler-icon:before{
	width: 24px;
	position: absolute;
	height: 1px;
	background-color: #000;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after{
	top: 8px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}
.nav-link{
	color: #fff !important;
	font-weight: 500;
    transition: all 200ms linear;
}
.nav-item:hover .nav-link{
	color: #3A7EFF !important;
}
.nav-item.active .nav-link{
	color: #777 !important;
}
.nav-link {
	position: relative;
	padding: 5px 8px !important;
	display: inline-block;font-size: 15px;font-weight:500;
}
.nav-item:after{
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 2px;
	content: '';
	background-color: #3A7EFF ;
	opacity: 0;
    transition: all 200ms linear;
}
.nav-item:hover:after{
	bottom: 0;
	opacity: 1;
}
.nav-item.active:hover:after{
	opacity: 0;
}
.nav-item{
	position: relative;
    transition: all 200ms linear;
}

.nav-item .dropdown-menu {
    transform: translate3d(0, 10px, 0);
    visibility: hidden;
    opacity: 0;
	max-height: 0;
    display: block;
	padding: 0;
	margin: 0;
    transition: all 200ms linear;
}
.nav-item.show .dropdown-menu {
    opacity: 1;
    visibility: visible;
	max-height: 999px;
    transform: translate3d(0, 0px, 0);
}
.dropdown-menu {
	padding: 10px!important;
	margin: 0;
	font-size: 13px;
	letter-spacing: 1px;
	color: #212121;
	background-color: #fcfaff;
	border: none;
	border-radius: 3px;
	box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
    transition: all 200ms linear;
}
.dropdown-toggle::after {
	display: none;
}

.dropdown-item {
	padding: 3px 15px;
	color: #212121;
	border-radius: 2px;
    transition: all 200ms linear;
}
.dropdown-item:hover, 
.dropdown-item:focus {
	color: #fff;
	background-color: rgba(129,103,169,.6);
}
.use-img-top a { align-items:center; }
.use-img-top a p { color:#fff;font-weight:600;margin-left:15px;margin-bottom:0; }

.btn-light{background:#fff;border-radius:10px;box-shadow:0 0 20px 0 rgba(0, 0, 0, 0.1);padding:8px 16px;transition:.3s;
color:#1D1D1D;}
.btn-light:hover{background-image: linear-gradient(to right, #3A7EFF, #89b13f, #7ea436, #72972e, #678a26);color:#fff;}
.btn { border-radius:5px; padding:8px 20px }
.btn-blue { background:#3A7EFF;color:#fff; }
.btn-blue:hover { background:#6DA0FF;color:#fff; }
.login-btn { display: inline-flex; align-items:center;color:#1B1A2D; }
.login-btn svg { margin-right:5px }
.header-btn { display:flex; }
.hero-btn { display:flex;background: #FFFFFF;border: 1px solid #F1F2F2;box-shadow: 0px 5px 10px #EFF7F7;border-radius: 100px;padding:6px }
.form-control-bg { flex:1;background:transparent;border:0;box-shadow:none;outline: none;
    padding: 10px 15px; }
.hero-btn .btn { padding:10px 20px; }

/*login page css*/
.login-card { background: #FFFFFF;padding:30px;    max-width: 520px;  margin: auto auto; }
.login-hedding { margin:20px 0 0px;  }
.login-hedding h3 { font-size:18px;font-weight:600;  }
.login-logo  { margin-top:0px; }
.form-control {
    background: #FFFFFF;
    border: 1px solid #E0E7FF;
    border-radius: 5px;
    height: 40px;font-size: 13px;
}
textarea.form-control { height:unset; }

.login-card .form-group {
    margin-bottom: 20px;position: relative;
}
.toggle-password { position: absolute;bottom: 11px; right: 12px;color: #a1aac5;}
.for-pass a { font-size:13px;position: relative;  top: -10px; text-decoration: underline !important;color: #3A7EFF;}
.login-already a {text-decoration: underline !important;color: #3A7EFF;}
.login-page { padding:20px; }
.login-page .row { align-items:center; }

.login-bg-right { background:#000842;height:100%;height: calc(100vh - 40px);border-radius:15px; }
.select-type {
    border: 1px solid #ddd;
    padding: 10px 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    background: #f4f8fb;
}

.form-check-inline .form-check-input:checked ~ .form-check-label {color:#0075FF;font-weight:600;  }
.form-check-label, .form-check-inline .form-check-input { cursor:pointer; }
.right-img img { max-width:320px !important; }
.login-text h3 { font-weight:600; }
.login-text ul li { font-size:15px;font-weight:600;color:#fff;padding:10px 10px 10px 30px;position:relative; }
.login-text ul li:before { position:absolute;left:0;top:22px;width:10px;height:2px;content:"";background:#fff; }

.login-bg-right .login-text{border-top:2px solid #40475e;padding-top:30px;  }
/*End login page css*/


/*Dashboard*/

.filter-bar { background: #f4f8fb; padding: 10px 15px; border-radius: 10px;}
.filter-bar label {    font-size: 13px;  font-weight: 600;}
.btn-search { font-size:13px; }
.card-item {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 10px;
    margin: 10px 0;
    text-align: center;
} 
.card-img { min-height:200px;max-height:200px;display:flex;justify-content:center;align-items:center; }  
.card-text { padding-top:10px; }
.card-text h3 { font-size:15px;font-weight:600; }
.card-text span { font-size:13px; }
footer {background: #f4f8fb;border-top: 1px solid #ddd;padding: 10px 0;text-align: center;margin-top: 30px;}
.page-hedding h1 { font-size:24px;margin:0;padding:20px 0; }

.left-img-d {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 10px;justify-content: center;align-items: center;display: flex;
    margin: 10px 0;min-height: 350px;max-height: 350px;
    text-align: center;
}
.date-t { align-items:center;margin-bottom:20px; }
.date-t svg { margin-right:15px; }
.date-t p { margin:0; }
.text-right-r h2 { font-size:24px; }
.img-tb { width:60px;height:60px;border:1px solid #ddd;border-radius:5px;padding:5px; }
.table td, .table th {     vertical-align: middle; }
.pro-table h2 { font-size:20px;margin:20px 0 10px; }
.pro-table .table  {border:1px solid #ddd; }
a.btn-tab {
    color: #086db5;
    font-weight: 600;
    font-size: 14px;
}
a.btn-tab i { margin-right:10px; }


.action-btn a {    width: 30px;height: 30px;border: 1px solid #ddd;border-radius: 5px;padding: 5px; color: #1D1D1D; display: inline-flex;
    justify-content: center; align-items: center;}
.action-btn a:hover { color:#3A7EFF; }   
.product-list-table table { border:1px solid #dee2e6; } 
.product-list-table table thead th { background: #f4f8fb; }
/* .rfq-page { height: calc(100vh - 145px);overflow:auto; } */
.product-list-table table td .text-limt  { overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;
    line-clamp: 2; -webkit-box-orient: vertical;  max-height: 65px;color:#666; }
.product-list-table table td { font-size:13px; }  
.pro-form-add label { font-weight:600;font-size:13px; }
.modal-header h4 { font-weight:600;font-size:18px; }  
.model .btn  { font-size:14px; }
.pro-header { margin:20px 0 }
.pro-header h1 { flex:1;font-size:24px; }


.create-rfq-form { max-width:550px; margin:30px auto;background: #FFFFFF;
    padding: 30px 40px 30px;
    border: 1px solid #E0E7FF;
    box-shadow: 0px 4px 20px rgb(195 194 252 / 25%);
    border-radius: 15px; }

.profile-img {
    height: 100px;
    width: 100px;
    overflow: hidden;
    border-radius: 100px;
    background: #ddd;
    text-align: center;margin: 10px 0 20px;
}
.create-rfq-form.profile-info { max-width:800px; }
.create-rfq-form.profile-info h2 { font-size:24px }
.profile-list {
    padding: 20px 0 0;
    border-top: 1px dashed #ddd;
}
.botton-btn-pro {padding: 10px 0 0;margin-top: 20px;
    border-top: 1px dashed #ddd;  }
.profile-list h4{ font-size:15px;color:#777;margin:15px 0; }
.profile-list h4 b{ color:#000 }
.botton-btn-pro .btn i { margin-right:10px;font-size:13px; }
.use-img-top .dropdown-menu { padding: 15px!important;    background-color: #ffffff;    border-radius: 7px;
	box-shadow:0 9px 16px 0 rgb(138 155 165 / 15%);top: 60px; }
.use-img-top .dropdown-menu .dropdown-item {     padding: 10px 15px;
    color: #212121;
    border-radius: 2px;
    transition: all 200ms linear;
    font-size: 13px;
    letter-spacing: 0; }	
.use-img-top .dropdown-menu .dropdown-item i { margin-right:15px; }   
.pro-update { position:relative; } 
.pro-update .input--file {
  position: absolute;
    bottom: 30px;
    left: 70px;
    cursor: pointer;
  color: #7f7f7f;
}

.pro-update i.fa-solid.fa-camera {
    width: 35px;
    height: 35px;
    position: absolute;
    cursor: pointer;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
    z-index: 1050;
}

.pro-update .input--file input[type="file"] {
    position: absolute;
    top: 0;
    left: -110px;
    opacity: 0;
    cursor: pointer;
    z-index: 1050;
    width: 150px;
}







::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #999999;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #999999;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #999999;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #999999;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #999999;
}

::placeholder { /* Most modern browsers support this now. */
   color:    #999999;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #bdd1f1 #ffffff;

  }
  

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
    height: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #bdd1f1;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }


